body{
    border: 0px;
    padding: 0px;
    margin: 0px;


}
.main{
    border: 0px;
    padding: 0px;
    margin: 0px;
    background: #e5e2e2;
    /* position: relative; */

}
.header{
/* position:absolute; */
/* left: 0px; */
/* top: 0px; */
width: 100%;
height: 60px;
background: white;

/* border-bottom-color: crimson */
}

.music{
    width: 800px;
    height: 800px;
    margin: 0px auto;
    position: relative;
}
.music table{
    border-collapse:collapse;
}
.music th{
    text-align: left;
}
.music tr:hover{
    background: khaki;
}
.window{
    width: 100%;
    height: 1000px;
    
    margin: 5px auto 0px auto ;
    background: white;
}
.img1{
    margin: 5px 80px 6px 20px;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
}
.list{
    padding: 0px;
    margin: 0px 40px;
    border: 0px;

}
.list a{
    display: block;
}
.list li{
    width: 100px;
    height: 60px;
    float: left;
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style: none;
    text-align: center;
}
.list li a {
    width: 100px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    float: initial;
    font-family: 'Microsoft Yahei';
    text-decoration: none;
    color: black
}
.list li:hover{
    background: #d4d1d1;
}
.list li a:hover{

    color: red
}
.musiclist li{
    list-style: none;
    width: auto;
    height: 20px;
   
}

.musiclist{
    border: 1px solid black;
    margin: 0px;
    padding: 0px;

}

.a{
    background: rebeccapurple;
    
}
.b{
    background: rebeccapurple;
    
}



.in_right{
    position: absolute;
    z-index: 888;
    top:250px;
    right:20px;

    width: 35px;
    height: 35px;
    border-top: 7px solid #ffffff;
    border-right: 7px solid #ffffff;
    transform: rotate(45deg);
}

.in_left{
    position: absolute;
    z-index:888;
    top:250px;
    left: 20px;;
    width: 35px;
    height: 35px;
    border-top: 7px solid #ffffff;
    border-right: 7px solid #ffffff;
    transform: rotate(-135deg);
}





